/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inria Sans", serif;
}

/* ==== ==== LAYOUT ==== ==== */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* ==== ==== TOP NAVIGATION ==== ==== */
#top-nav {
  width: 100%;
  background-color: #7552cc;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .header__logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    margin-right: 0.5rem;

    transition: 0.2s ease-in-out;
  }

  span {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;

    transition: 0.2s ease-in-out;
  }
}

.header:hover {
  .header__logo {
    transform: scale(1.4, 1.4) rotate(360deg);
  }

  span {
    text-shadow: 2px 4px 2px rgba(82, 86, 94, 0.9);
    transform: translateX(4px);
  }
}

.nav__list {
  /* flex-grow: 1; */

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .nav__link {
    margin-left: 3rem;

    color: #f3f4f7;
    font-size: 1rem;
    font-weight: 700;
  }

  .nav__link:first-child {
    margin-left: 0;
  }

  .nav__link:hover {
    color: #fff;
    transform: scale(1.05, 1.05);
    text-shadow: 2px 4px 2px rgba(82, 86, 94, 0.9);
  }
}

/* ==== ==== MAIN SECTION==== ====*/
main {
  background-color: #52565e;

  /* width: 100%;
  height: 100%; */

  justify-self: stretch;
}

/* ==== ==== FOOTER ==== ==== */
footer {
  width: 100%;
  background-color: #7552cc;
  padding: 1.5rem 2rem 1rem;

  text-align: center;

  p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
  }

  strong {
    color: #fff;
    font-weight: 700;
  }

  a {
    /* text-decoration: underline; */
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* ==== ==== CARDS ==== ==== */
.card {
  margin-top: 4rem;

  width: 100%;
  max-width: 40rem;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 8px;

  background-color: #fff;
  box-shadow: 4px 8px 16px 0px rgba(117, 82, 204, 0.1);

  overflow: hidden;
}

.card__head {
  width: 100%;
  text-align: center;
  padding: 0.5rem 2rem;

  background-color: #00c16e;
}

.card__heading {
  font-size: 2.25rem;
  font-weight: 700;
  color: #f3f4f7;
}

.card__main {
  width: 100%;
  padding: 3rem 2rem 4.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__content {
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content__wrapper {
  width: 100%;
  max-width: 8rem;
}

.input__wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  input {
    max-width: 8rem;

    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    border: 1px solid #00c16e;

    direction: rtl;

    font-size: 1.25rem;
    font-weight: 700;
    color: #52565e;
  }

  input:focus,
  input:active {
    outline: none;
    border-width: 2px;
  }

  input::placeholder {
    color: #9fa0a4;
    font-weight: 400;
  }

  label {
    margin-left: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;
    color: #52565e;
  }
}

.card__switch {
  margin: 0.25rem 0 0.25rem 0;

  width: 120%;
  transform: translateX(-20%);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  #btn__switch {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;

    background-image: url("./imgs/arrow-vertical-swap--green.svg");

    border: none;
  }

  #btn__switch:hover {
    cursor: pointer;
    transform: scale(1.01, 1.01);
    box-shadow: 4px 8px 16px 0px rgba(117, 82, 204, 0.1);
  }

  .divider {
    margin-left: 0.75rem;

    width: 100%;
    height: 1px;
    background-color: #00c16e;
  }
}

.btn__convert {
  margin-top: 1.75rem;
  background-color: #00c16e;
  border-radius: 8px;

  border: 2px solid transparent;

  color: #f3f4f7;
  font-size: 1rem;
  font-weight: 700;

  padding: 0.5rem 2rem;

  width: 100%;

  transition: all ease-in-out 0.2s;
}

.btn__convert:hover {
  cursor: pointer;
  color: #00c16e;
  background-color: #fff;
  border-color: #00c16e;
}

.card__desc {
  margin-top: 1.5rem;

  color: #52565e;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;

  span {
    font-weight: 700;
  }
}

.card__img {
  max-width: 12rem;

  margin-right: 4rem;

  figcaption {
    display: none;
  }
}

/* TODO  */
/* ! 1. Adjust the input, divider, and convert button    */
/* !    so they are the same size as in figma design */
/* ! 2. Add functionality to switch button with checkbox inputs */
/* ? 3. Add functionality to Convert button via JS */
/* ? 4. Add Cards together with their classes other conversion  */
/* ?    units */
